body {
    background-color: rgb(255, 255, 255);
  }

  input[type='text'],
  textarea {
    width: 100%;
    padding: 12px;
    border: none;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type='submit'] {
    background-color: #ffd700;
    color: black;
    padding: 12px 20px;
    border: none;
    border-width: 2px;
    border-style: outset;
    cursor: pointer;
    width: 100%;
    align-content: center;
  }

  .container {
    border-width: 5px;
    border-style: outset;
    outline-color: black;
    background-color: wheat;
    padding: 20px;
    width: 400px;
    
  }

  .label {
    background-color: rgb(189, 53, 53);
    width: 100%;
    color: white;
    height: 50px;
    text-align: center;
    font-size: 30px;
    font-family: cursive;
    padding-top: 10px;
    margin-bottom: 16px;
  }

  table,
  td {
    border: solid black;
    border-collapse: collapse;
  }