@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;

  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #eee;
}

button,
input {
  border: none;
  outline: none;
  font-family: inherit;
}

.form__container {
  background-color: #fff;
  padding: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0.5rem;
  width: 30rem;
}
.form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form__header .btn {
  background-color: #1d4ed8;
}
.login__form {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
}
.field__container {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;

  font-size: 1.1rem;
  font-weight: 500;
}
.form__input {
  margin-top: 0.5rem;
  border: 2px solid gainsboro;
  padding: 0.5rem;
  border-radius: 0.25rem;

  font-size: 1rem;
  font-weight: 500;
}
.form__input:focus {
  border-color: #1d4ed8;
}

.btn__container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.btn {
  padding: 0.75rem 0.75rem;
  border-radius: 0.25rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;

  width: 100%;
  cursor: pointer;
}
.reset-btn {
  background-color: #d14343;
}
.reset-btn:hover {
  background-color: #ff4949;
}
.submit-btn {
  background-color: steelblue;
}
.submit-btn:hover {
  background-color: rgb(87, 160, 219);
}
table,
th,
td {
  border: 1px solid gray;
  font-size: 1.2rem;
}

td,
th {
  padding: 0.5rem;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  text-align: center;
  border-radius: 2px;
  padding: 1rem;
  position: fixed;
  z-index: 1;
  top: 20px;
  right: 20px;
  font-size: 1.2rem;
  font-weight: 600;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-left: 5px solid greenyellow;
}

#snackbar.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 3s;
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 20px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    top: 20px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

.users__container .btn {
  margin-top: 1rem;
  background-color: steelblue;
  width: 25%;
}
